@page
@model ZealandZoo.Pages.AboutUs.ArticlesOfAssociationModel
@{
    ViewData["Title"] = "Vedtægter";
}

<div class="articlesOfAssociationContainer">
    <section class="articlesOfAssociationSection">
        <h1>@ViewData["Title"] - Student Life Roskilde</h1>
        <br />
        <hr />

        <h2>§ 1. Foreningens navn og hjemsted</h2>
        <p>Foreningens navn er Foreningen Zealand Zoo. Hjemstedet for foreningen er lokalerne på Zealand Erhvervsakademi, 4000 Roskilde, Maglegårdsvej 4C.</p>

        <br />
        <hr />

        <h2>§ 2. Foreningens formål og vision</h2>
        <h3>Formål</h3>
        <p>Stk. 1. Foreningen står for driften af fredagsbarer og andre studenter-arrangementer på Zealand Erhvervsakademi Roskilde. Foreningens formål er at tilbyde/udvikle socialt samvær for alle interesserede tilknyttet Zealand Erhvervsakademi Roskilde.</p>
        <br />
        <h3>Vision</h3>
        <p>Stk. 2: Foreningen har en vision om at udbygge og styrke det sociale samarbejde på Zealand Erhvervsakademi Roskilde, fagene og de studerende imellem.</p>

        <br />
        <hr />

        <h2>§ 3. Medlemskab og kontingent.</h2>
        <h3>Medlemskab</h3>
        <p>Stk. 1: Alle studerende på Zealand Erhvervsakademi Roskilde kan blive medlemmer af foreningen. Det kræver kun at den studerende kontakter foreningen og anmoder om medlemskab. Foreningen holder en liste med medlemmer, til brug til fredagsbarsvagter og lignende. Alle medlemmer kan stille op til bestyrelsen på generalforsamlingen.</p>

        <br />
        <hr />

        <h2>§ 4. Økonomi</h2>
        <h3>Bankkonto.</h3>
        <p>Stk. 1: Foreningens midler opbevares på foreningens bankkonto. Formanden og den økonomi-ansvarlige er de eneste, der har fuldmagt, og dermed hævekort/dankort til foreningens bankkonto. Den økonomiansvarlige skal have oprettet en netbank til foreningens bankkonto for at lette forretningsgangen.</p>
        <br />
        <h3>Revisoren.</h3>
        <p>Stk. 2: Revisoren vælges på generalforsamlingen i efterårssemestret, og er valgt for 1 år ad gangen, og har ansvaret for at gå foreningens regnskaber igennem hver 3. måned. Revisoren har til enhver tid ret til at efterse regnskaber og beholdninger.Revisoren må ikke være bestyrelsesmedlem eller suppleant i Zealand Zoo.</p>

        <br />
        <hr />

        <h2>§ 5. Generalforsamling</h2>
        <h3>Afholdelse og indkaldelse</h3>
        <p>Stk. 1: Generalforsamlingen, der er foreningens højeste myndighed, afholdes umiddelbart efter sommer-semesterstart. Generalforsamlingen indkaldes med mindst 21 dages varsel ved skriftlig meddelelse til medlemmer. Dagsorden udsendes til medlemmer 7 dage inden afholdelse af generalforsamling. Forslag til dagsordenen og vedtægtsændringer, der ønskes behandlet på mødet, skal være bestyrelsen i hænde senest 14 dage før generalforsamlingen.</p>
        <br />
        <p>Stk. 2: Dagsorden</p>
        <p>Dagsorden for den ordinære generalforsamling skal indeholde følgende punkter:</p>
            <ul>1. Valg af referent.</ul>
            <ul>2. Formandens/bestyrelsens beretning.</ul>
            <ul>3. Regnskab for den forløbne regnskabsperiode til godkendelse (v. økonomiansvarlig eller revisor).</ul>
            <ul>4. Budget til orientering.</ul>
            <ul>5. Behandling af indkomne forslag.</ul>
            <ul>6. Valg af formand.</ul>
            <ul>7. Valg af økonomiansvarlig.</ul>
            <ul>8. Valg af bestyrelsesmedlemmer og suppleanter.</ul>

        <br />
        <hr />

        <h2>§ 6. Stemmeret og afstemning</h2>
        <p>Stk. 1: Alle fremmødte medlemmer har stemmeret ved generalforsamlingen. Medlemmerne træffer beslutninger ved simpelt stemmeﬂertal, undtagen i de tilfælde hvor der til afstemningen foreligger forslag til vedtægtsændringer, eller forslag til opløsning af foreningen jf. §6, stk. 2 & stk. 3. Afstemningen sker ved håndsoprækning, men såfremt dirigenten eller et medlem forlanger det, skal afstemningen ske skriftligt.</p>
        <br
        <h3>Afstemning om vedtægtsændringer eller opløsning af foreningen</h3>
        <p>Stk. 2: Forslag til vedtægtsændringer kan kun vedtages med 2/3 majoritet af de fremmødte medlemmer. Vedtagelse af forslag til opløsning af foreningen kan ske med 2/3 stemmeﬂertal til generalforsamling.</p>
        <br />
        <h3>Ikrafttrædelse</h3>
        <p>Stk. 3: En vedtaget vedtægtsændring træder i kraft så snart den er vedtaget til generalforsamlingen i Foreningen Zealand Zoo. </p>

        <br />
        <hr />

        <h2>§ 7. Valg af Bestyrelse</h2>
        <p>Stk. 1: Formanden, den økonomiansvarlige, bestyrelsesmedlemmerne og eventuelle suppleanter vælges ved generalforsamlingen. Der kan være op til fem bestyrelsesmedlemmer, hvoraf formanden og den økonomiansvarlige er to af dem. Der kan være op til fem suppleanter.</p>
        <h3>Formandskrav</h3>
        <p>Stk. 2: For at kunne blive valgt som formand, skal man have siddet i bestyrelsen i et semester, enten som bestyrelsesmedlem eller suppleant. Man kan desuden ikke både være formand og økonomiansvarlig.</p>
        <br />
        <p>Stk. 3: Bestyrelsen vælges ved afstemning på generalforsamlingen. For at være valgbar, skal kandidaten være personligt til stede og tilkendegive at være villig til at modtage valg. Alle generalforsamlingens medlemmer kan stemme på opstillede kandidater. De kandidater som får flest stemmer, indtræder i bestyrelsen. Bestyrelsesmedlemmer vælges for et halvt år ad gangen. Genvalg kan ske.</p>
        <h3>Tomme pladser i bestyrelsen</h3>
        <p>Stk. 4: Bliver en bestyrelsesplads ikke fyldt ud til generalforsamlingen, skal der dog være løbende mulighed for at vælge et fuldgyldigt bestyrelsesmedlem blandt og af deltagerne i foreningens aktiviteter. Dette skal ske på et møde hvortil der er givet 7 dages offentlig skriftlig varsel over internettet, samt fysisk i caféen.</p>
        <h3>Valg af suppleanter</h3>
        <p>Stk. 5: Der kan vælges suppleanter, såfremt der er flere kandidater til end der er ledige bestyrelsesposter.</p>
        <h3>Zealand Zoo og Festudvalget</h3>
        <p>Stk. 6: Man kan ikke være med i Zealand Zoo og Festudvalgets bestyrelse på samme tid.</p>

        <br />
        <hr />

        <h2>§ 8. Ekstraordinær generalforsamling</h2>
        <p>Stk. 1: Ekstraordinær generalforsamling afholdes, når et ﬂertal af bestyrelsen eller mindst 10 af medlemmerne skriftligt forlanger det. Anmodning om ekstraordinær generalforsamling skal ledsages af en udførlig dagsorden. Indkaldelse til ekstraordinær generalforsamling skal ske senest 14 dage efter at kravet er fremkommet og indkaldes med samme varsel som den ordinære generalforsamling. Vedtægter kan som ved ordinær generalforsamling ændres ved den ekstraordinære generalforsamling, såfremt forslag til ændringer sendes til bestyrelsen minimum 7 dage inden den ekstraordinære generalforsamling.</p>

        <br />
        <hr />

        <h2>§ 9. Bestyrelsens arbejde.</h2>
        <h3>Formand og økonomiansvarlig</h3>
        <p>Stk. 1: Det er som udgangspunkt formandens ansvar at få indkaldt til bestyrelsesmøder og få lavet dagsordener dertil. Formandens opgave er primært at være tovholder på foreningens opgaver. </p>
        <p>Stk. 2: Den økonomiansvarlige har det økonomiske ansvar for foreningen. </p>
        <p>Stk. 3: Yderligere opgaver bliver fordelt mellem bestyrelsesmedlemmerne.</p>
        <p>Stk. 4: Suppleanter har møderet til bestyrelsesmøder – ikke mødepligt.</p>
        <ul>a)	Suppleanter har ikke stemmeret til bestyrelsesmøder.</ul>
        <h3> Bestyrelsens ansvar</h3>
        <p>Stk. 5: Bestyrelsen er ansvarlig overfor generalforsamlingen. Bestyrelsen står for foreningens daglige drift. Bestyrelsen er ansvarlig for, at tilskud og anviste lokaler anvendes i overensstemmelse med gældende aftaler. </p>
        <h3>Bestyrelsens daglige arbejde</h3>
        <p>Stk. 6: Bestyrelsesmedlemmerne sørger selv for at udtænke og varetage ansvarsposter, som skal kunne sørge for at foreningens formål opfyldes til foreningens medlemmers tilfredsstillelse.</p>
        <h3>Bestyrelsesmøder</h3>
        <p>Stk. 7: Bestyrelsesmøder afholdes så ofte formanden eller de fire bestyrelsesmedlemmer finder det nødvendigt, og indkaldes med mindst syv dages varsel.</p>

        <ul>a)	Bestyrelsen er beslutningsdygtig, når minimum 50 % af bestyrelsens medlemmer er til stede på et møde.</ul>
        <ul>b)	Beslutninger på bestyrelsesmøder træffes ved simpelt stemmeflertal blandt bestyrelsesmedlemmerne (eller de suppleanter, der er trådt ind i stedet for udeblevne bestyrelsesmedlemmer).</ul>
        <ul>c)	I tilfælde af stemmelighed gives alle tilstedeværende suppleanter stemmeret.</ul>



        <br />
        <hr />

        <h2>§ 7. Opløsning af foreningen </h2>
        <p>Stk. 1. I tilfælde af opløsning tilfalder foreningens formue/overskud fagrådene eller de studentersociale faciliteter tilhørende de fag, der dags dato ddmmåååå indgår i Zealand Zoo.</p>
    </section>
</div>