@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<div class="accountPageContainer">
    <div>
        <h2>Register</h2>
    </div>
    <form class="accountForm" method="post">
        <div>
            <label>Email</label>
            <input asp-for="Input.Email">
            <span asp-validation-for="Input.Email"></span>
        </div>
        <div>
            <label>Adgangskode</label>
            <input asp-for="Input.Password">
            <span asp-validation-for="Input.Password"></span>
        </div>
        <div>
            <label>Bekræft adgangskode</label>
            <input asp-for="Input.ConfirmPassword">
            <span asp-validation-for="Input.ConfirmPassword"></span>
        </div>
        <div>
            <button class="accountButtonLoginRegister" type="submit">Login</button>
        </div>
        <div>
            <button class="accountButtonCancel" type="button" asp-page="/Index">Cancel</button>
        </div>
    </form>
</div>
