@page
@model ZealandZoo.Pages.CalendarModel
@{
    ViewData["Title"] = "Kalender";
}



<div class="gridContainerCalendarBoard">
    <h1>@ViewData["Title"]</h1>
    <br />

    <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=2&ctz=Europe%2FCopenhagen&bgcolor=%237986CB&title=ZealandZoo&hl=da&showCalendars=0&showTz=0&showPrint=0&showTitle=0&src=ZDRmOTIzYTA2MmM5ZDRiZDk5MzAyZjYxNjVkY2M3YWNlYTAxN2M4Mzk3YjczMTg0MjE1NzYyOWZkYTNmMWZhM0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23D81B60" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>



