@page
@model ZealandZoo.Pages.ContactModel
@{
    ViewData["Title"] = "Kontakt";
}
<div class="contactPageContainer">
    <div>
        <h1>Kontakt os</h1>
        <hr />
        <p>Har du spørgsmål eller forslag? Udfyld formlen for at komme i kontakt med os.</p>
    </div>
    <div>
        <img src="/images/KontaktOs.png" alt="Mand som holder en cola og små sure" />
    </div>

    <form class="contactForm" method="post">
        <div>
            <label>Fornavn*</label>
            <span asp-validation-for="Mail.FirstName"></span>
            <input asp-for="Mail.FirstName" type="text">
        </div>
        <div>
            <label>Efternavn</label>
            <input asp-for="Mail.LastName" type="text">
        </div>
        <div>
            <label>E-mail*</label>
            <span asp-validation-for="Mail.EmailAddress"></span>
            <input asp-for="Mail.EmailAddress" type="text">
        </div>
        <div>
            <label>Emne*</label>
            <span asp-validation-for="Mail.Subject"></span>
            <input asp-for="Mail.Subject" type="text">
        </div>
        <div>
            <label>Besked*</label>
            <span asp-validation-for="Mail.Body"></span>
            <textarea asp-for="Mail.Body"></textarea>
        </div>
        <div>
            <button type="submit">Send</button>
        </div>
    </form>

</div>