@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="gridContainerTwoColumns">
    <div class="gridItemFrontPage">Zealand Zoo er bla bla bla</div>
    <div class="gridItemFrontPage">Opslagstavle</div>
    <div class="gridItemFrontPage">Find Vej - Mini Google Maps</div>
    <div class="gridItemFrontPage">Carousel</div>
</div>
