@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<div class="gridContainerFrontPageTwoColumns">
    <div class="gridItemFrontPage">
        <p class="largeTextCenter">Zealand Zoo</p>
        <p>I must be cruel only to be kind.  The course of true love never did run smooth.  Nay, but this dotage of our general's O'erflows the measure. Hisperia, the Princess' gentlewoman, Confesses that she secretly o'erheard Your daughter and her cousin much commend The parts and graces of the wrestler That did but lately foil the sinewy Charles; And she believes, wherever they are gone, That youth is surely in their company. When I did hear The motley fool thus moral on the time, My lungs began to crow like chanticleer That fools should be so deep contemplative; And I did laugh sans intermission An hour by his dial. O noble fool!  A worthy fool! Motley's the only wear. Invest me in my motley; give me leave To speak my mind, and I will through and through Cleanse the foul body of th' infected world, If they will patiently receive my medicine. Alas the day! what shall I do with my doublet and hose?  What did he when thou saw'st him? What said he? How look'd he?  Wherein went he? What makes he here? Did he ask for me? Where remains he? How parted he with thee? And when shalt thou see him again? Answer me in one word.</p>
    </div>
    <div class="gridItemFrontPage">
        <p class="largeTextCenter">Opslagstavle</p>
    </div>
    <div class="gridItemFrontPage">
        <p class="largeTextCenter">Find Vej</p>
        <p align="center"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1503.252276008408!2d12.076256597048904!3d55.631012287999674!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46525fdd5f835a09%3A0x1580aab77d2823e1!2sMagleg%C3%A5rdsvej%204C%2C%204000%20Roskilde!5e0!3m2!1sda!2sdk!4v1720083511174!5m2!1sda!2sdk" width=750" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
        
    </div>
    <div class="gridItemFrontPage">
		<p class="largeTextCenter">Promo</p>
        <p align="center"><iframe width="700" height="450" src="https://www.youtube.com/embed/-HV-vgjR16I" title="Zealand til intro" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></p>
    </div>
</div>

