<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ZealandZoo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/button.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/calendarAndBoard.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/contact.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/footer.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/frontPage.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/media.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/navBar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/28f1f6dc88.js" crossorigin="anonymous"></script>





</head>
<body>
    <header>       
        

        <div class="main-header">
            <nav class="navGridContainer">
                <div class="navGridItem"><a asp-page="/Index"><img class="zealandZooIcon" src="~/images/ZealandZooIconIsolated.png" /></a></div>

                <div class="navGridItem"><a asp-page="/Index">Forside</a>

                    <div class="navDropDown">
                      <button class="navDropBtn">Om Foreningen</button>
                      <div class="navDropDown-Content">
                        <a asp-page="/AboutUs/BoardMembers">Bestyrelsen</a>
                        <a asp-page="/AboutUs/ArticlesOfAssociation">Vedtægter</a>
                        <a asp-page="/AboutUs/PartyPlanningCommittee">Festudvalget</a>
                      </div>
                     </div>

                    <a asp-page="/Calendar">Kalender</a>
                    <a asp-page="/Contact">Kontakt</a>
                </div>

                <div class="navGridItem"><a asp-page="">Login</a></div>

            </nav>
        </div>

        <!--<div class="main-header">        
           <nav class="navGridContainer">
               <div class="navGridItem"><a asp-page="/Index"><img class="zealandZooIcon" src="~/images/ZealandZooIconIsolated.png" /></a></div>
               
               <div class="navGridItem"><a asp-page="/Index">Forside</a></div>

               <div class="navGridItem navDropDown">
                   <button class="navDropBtn">Om Foreningen</button>
                   <div class="navDropDown-Content">
                       <a asp-page="/AboutUs/BoardMembers">Bestyrelsen</a>
                       <a asp-page="/AboutUs/ArticlesOfAssociation">Vedtægter</a>
                       <a asp-page="/AboutUs/PartyPlanningCommittee">Festudvalget</a>
                   </div>
               </div>

               <div class="navGridItem"><a asp-page="/Calendar">Kalender</a></div>
               <div class="navGridItem"><a asp-page="/Contact">Kontakt</a></div>
               <div class="navGridItem"><a asp-page="">Login</a></div>

           </nav>
        </div>-->
        
    </header>


        

    
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <section class="gridContainerFooterThreeColumns">
            <div class="grid-item-sm"></div>
            <div class="grid-item-sm">
                <a href="https://www.facebook.com/cafezealand/" target="_blank"><img src="~/css/facebook_145802.png" alt="Facebook Icon" /></a>
                <a class="grid-item-zealand" href="https://www.zealand.dk/" target="_blank"> <img src="~/css/Zealand_logo_black_RGB_1600px_72dpi.png" alt="Zealand Logo" /> </a>
                <a href="https://www.instagram.com/cafezealandzoo?igsh=bWJrYTF6bXdoYmx5" target="_blank"><img src="~/css/instagram_174855.png" alt="Instagram Icon" /></a>
            </div>
            <div class="grid-item-sm" href="https://trello.com/b/js6u4iF5" target="_blank">https://trello.com/b/js6u4iF5</div>
        </section>
        

        <!--  zealandzoo10@gmail.com  -->

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>