<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ZealandZoo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/button.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/footer.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/grid.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/header.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/kontakt.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/navBar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/text.css" asp-append-version="true" />




</head>
<body>
    <header class="header">
        <nav class="navGrandParent-grid">
            <div class="navParent"><a asp-page="/Index"><img class="zealandZooIcon" src="~/images/ZealandZooIcon.jpg" /></a>
            </div>
            <div class="navParent">
                <div class="navChild"><a asp-page="/Index">Forside</a></div>
                <div class="navChild">
                    <li class="navDropDown"><a class="dropBtn">Om Foreningen</a>
                        <div class="dropdown-content">
                            <a asp-page="/AboutUs/BoardMembers">Bestyrelsen</a>
                            <a asp-page="/AboutUs/BoardStatues">Vedtægter</a>
                            <a asp-page="/AboutUs/  ">Festudvalget</a>
                        </div>
                    </li>
                </div>
                <div class="navChild"><a asp-page="/Contact">Kalender</a></div>
                <div class="navChild"><a asp-page="/Contact">Kontakt</a></div>
            </div>
            <div class="navParent"><a asp-page="/Index">Login</a></div>
        </nav>
    </header>


    <!-- <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
           <div class="container">
               <a class="navbar-brand" asp-area="" asp-page="/Index">ZealandZoo</a>
               <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                       aria-expanded="false" aria-label="Toggle navigation">
                   <span class="navbar-toggler-icon"></span>
               </button>
               <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                   <ul class="navbar-nav flex-grow-1">
                       <li class="nav-item">
                           <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                       </li>
                       <li class="nav-item">
                           <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                       </li>
                   </ul>
               </div>
           </div>
    </nav>-->

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <section class="gridContainerThreeColumns">
            <div class="grid-item"><a href="https://www.facebook.com/cafezealand/" class="iconProperties facebook" target="_blank"></a></div>
            <div class="grid-item"><a href="#" class="iconProperties instagram" target="_blank"></a></div>
            <div class="grid-item"><a href="https://www.zealand.dk/" target="_blank">https://www.zealand.dk/</a></div>
        </section>

        <!--  zealandzoo10@gmail.com  -->

    </footer>

    <!--
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - ZealandZoo - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>
    -->



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>