<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ZealandZoo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/button.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/footer.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/grid.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/header.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/kontakt.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/navBar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/text.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/28f1f6dc88.js" crossorigin="anonymous"></script>





</head>
<body>
    <header class="header"> 

        <div class="gridContainerThreeColumns">
            <div class="grid-item"></div>
            <div class="grid-item"><a href="C:\Zealand Zoo\ZealandZoo\Pages\Index.cshtml"><img class="zealandZooIcon" src="~/277817506_657052259000962_6144921249846798986_n.jpg" /></a></div>
            <div class="grid-item"></div>
        </div>
        <nav class="navigationBar">
            <ul>
            <li class="floatLeft"><a asp-page="/Index">Forside</a></li>
            <li class="floatLeft"><a >Om Foreningen</a></li>
            <li class="floatLeft"><a>Kalender</a></li>
            <li class="floatLeft"><a asp-page="/Contact">Kontakt</a></li>
            <li class="floatRight"><a >Login</a></li>
            </ul>


        </nav>
    </header>

        
       <!-- <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">ZealandZoo</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
     </nav>-->
    
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <section class="gridContainerThreeColumns">
            <div class="grid-item">
                <a href="https://www.facebook.com/cafezealand/" target="_blank"><i class="fa-brands fa-facebook fa-2x"></i></a>
                <a href="https://www.instagram.com/cafezealandzoo?igsh=bWJrYTF6bXdoYmx5" target="_blank"><i class="fa-brands fa-instagram fa-2x"></i></a>
            </div>
            <div class="grid-item"></div>
            <div class="grid-item"><a href="https://www.zealand.dk/" target="_blank">https://www.zealand.dk/</a></div>
        </section>

        <!--  zealandzoo10@gmail.com  -->

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>