@using Microsoft.AspNetCore.Identity
@using ZealandZoo.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    if (User.IsInRole("board"))
    {
        <button class="navdropbtn">Bestyrer</button>
        <div class="navdropdown-content">
            <a asp-area="Identity" asp-page="/Account/Manage/Index">Opdater profil</a>
            <a asp-area="Identity" asp-page="/Account/LogOut">Log af</a>
        </div>
    }
    else if (User.IsInRole("admin"))
    {
        <button class="navdropbtn">Administrationen</button>
        <div class="navdropdown-content">
            <a asp-area="Identity" asp-page="/Account/Manage/Index">Opdater profil</a>
            <a asp-area="Identity" asp-page="/Account/LogOut">Log af</a>
        </div>
    }
}
else
{
    <a id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
}
