.gridContainerCalendarBoard {
    background-color: white;
    opacity: 95%;
    color: black;
    display: grid;
    font-family: 'Times New Roman';
    font-size: 1.6rem;
    grid-template-columns: 100%;
    margin: 0rem 5rem 1.5rem 5rem;
}
