/*Vi vil gerne have Responsive Grid Layout*/


.gridContainerOneColumn {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    display: grid;
    font-family: 'Times New Roman';
    grid-template-columns: 100%;
    margin: 1.5rem;

    /*Kevin Srev dette*/
    font-size: 1.6rem;
    padding: 2rem;
}


.gridContainerTwoColumns {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    display: grid;
    font-family: 'Times New Roman';
    grid-template-columns: 50% 50%;
    margin: 1.5rem 5rem 1.5rem 5rem;
}

.gridItemFrontPage {
    border: 0.1rem solid rgba(0, 0, 0, 0.8);
    font-size: 2rem;
    padding: 1rem;
}

.gridItemFrontPage iframe {

}


.gridContainerThreeColumns {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 1rem 0.2rem 0.2rem 0.2rem;
}

.grid-item {
    text-align: center;
}

.grid-item-sm img {
    margin: 0rem 2rem 0rem 0rem;
    width: 5rem;
    height: 5rem;
}

.grid-item-zealand img{
    align-content: center;
    width: 10rem;
    height: 5rem;
    background-color: orange;
    padding: 1rem;
    margin-left: 50rem;
}

